// Colours
$color-alt: rgb(0, 2, 87);
$color-main: rgb(255, 102, 136);

//#ea4c89;
//#fe6984;
//#ff6688
// rgb(255, 102, 136)
// rgb(232, 122, 149);
// rgb(154, 213, 255)
// rgb(15, 184, 182)

$color-white: #fff;
$color-black: #000;


