////////////////////////////////////////////////////////////////////
//// FRONT PAGE 

//// TOP
.custom-shape-divider-top-1601209757 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1601209757 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1601209757 .shape-fill {
    fill: #FFFFFF;
}

///// bottom 

.custom-shape-divider-bottom-1601209844 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601209844 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 65px;
}

.custom-shape-divider-bottom-1601209844 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-top-1604954889 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1604954889 svg {
    position: relative;
    display: block;
    width: calc(193% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1604954889 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1604955074 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604955074 svg {
    position: relative;
    display: block;
    width: calc(193% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1604955074 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1604955344 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1604955344 svg {
    position: relative;
    display: block;
    width: calc(247% + 1.3px);
    height: 135px;
}

.custom-shape-divider-top-1604955344 .shape-fill {
    fill: #FF6688;
}

////////////////////////////////////////////////////////////////////////////////
///// FOOTER 

.custom-shape-divider-top-1605563144 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1605563144 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}
.custom-shape-divider-top-1605563144 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-top-1605563144 .shape-fill-post {
    fill: #fafafa !important;
}
.custom-shape-divider-top-1605563144 .shape-fill-pricing {
    fill: #023c69 !important;
}

//////////////////////////