.main-text {
    font-size: 1.5rem;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 300;
    color: #555555;
}

.main-text-small {
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 300;
    color: #555555;
}

.top-text {
    text-transform: uppercase;
    color: $color-alt;
    font-size: 1.5rem;
}

.main-header-big {
    font-family: inherit;
    font-size: 6rem;
    color: $color-alt;
    font-weight: 600;
}
.main-header-medium {
    font-family: inherit;
    font-size: 4rem;
    color: $color-alt;
    font-weight: 600;
}
.main-header-small {
    font-family: inherit;
    font-size: 2rem;
    color: $color-alt;
}

.-underline__pink {
    border-bottom: 2px solid #ff6688;
}


h1 {
    font-family: inherit;
    font-size: 4rem;
    color: $color-alt;
    font-weight: 600;
}

h2 {
    font-family: inherit;
    font-size: 3rem;
    color: $color-alt;
    font-weight: 600;
}

h3 {
    font-family: inherit;
    font-size: 2rem;
    color: $color-alt;
    font-weight: 600;
}

h4 {
    font-family: inherit;
    font-size: 1.5rem;
    color: $color-alt;
    font-weight: 600;
}

h5 {
    font-family: inherit;
    font-size: 1.5rem;
    color: $color-alt;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 300;
    color: #555555;
}


