.blog-main {
    
    max-width: 95rem;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12rem;
    @media (max-width: 1000px){ 
        padding: 0 3rem;
    }

    &-header {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        height: 23rem;
        margin-bottom: 8rem;
        @media (max-width: 700px){ 
            grid-template-columns: 1fr;
            height: auto;
            margin-top: 8rem;
        }
        &__container {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            &__title {
                font-family: inherit;
                font-size: 4rem;
                color: $color-alt;
                font-weight: 600;
                text-align: center;
            }
            &__sub {
                font-size: 1.3rem;
                font-family: inherit;  
                line-height: 1.45;
                font-weight: 300;
                color: rgba(23,44,62,.75);
                text-shadow: none;
                text-align: center;
            }
            &__search {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                &__input {
                    margin: 0 auto;
                    border-radius: 10px;
                    width: 80%;
                    border: none;
                    padding: 1.2rem;
                    font-size: 1rem;
                    background-color: #f7f7f7;
                    color: rgb(112, 112, 112);
                    outline: none;
                    @media (max-width: 700px){ 
                        width: 50%;
                    }
                
                }
            }
        }
        &__image1 {
            align-self: center;
            justify-self: center;
            @media (max-width: 700px){ 
                display: none;
            }
            & img {
                height: 110px;
                width: 110px;
            }
        }
        &__image2 {
            align-self: flex-end;
            justify-self: center;
            @media (max-width: 700px){ 
                display: none;
            }
            & img {
                height: 80px;
                width: 80px;
            }
        }
    }


    &-featured {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 32rem;
        column-gap: 4rem;
        margin-bottom: 8rem;
        @media (max-width: 500px){ 
            display: none;
        }
        &__image {
            background-color: $color-alt;
            border-radius: 40px;
            height: 32rem;
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 40px;
            }

        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__category {
                align-self: flex-start;
                display: flex;
                list-style: none;
                column-gap: 1rem;

                &--element {
                    padding: 0.5rem 1rem;
                    // background-color: rgb(207, 119, 207);
                    // color: purple;
                    border-radius: 7px;
                    text-transform: uppercase;
                    font-weight: 500;

                }
                & a {
                    color: inherit;
                    text-decoration: none;
                }
            }
            &__title {
                color: $color-alt;
                font-size: 3rem;
                font-family: inherit;
                font-weight: 600;
                & a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            &__short {
                font-size: 1.3rem;
                font-family: inherit;  
                line-height: 1.25;
                font-weight: 300;
                color: #555555;
                text-shadow: none;
            }
            &__author {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;
                &__image {
                    background-color: $color-alt;
                    border-radius: 40px;
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    justify-self: center;
                    height: 40px;
                    width: 40px;
                    & img {
                        height: 40px;
                        width: 40px;
                        border-radius: 40px;
                    }
                }
                &__name {
                    color: $color-alt;
                    font-weight: 500;
                    font-size: 1.2rem;
                    & a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                &__date {
                    color: gray;
                }
            }

        }
    }

    &-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 4rem;
        margin-top: 4rem;
        @media (max-width: 730px){ 
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 450px){ 
            grid-template-columns: 1fr;
        }

        &__item {
            display: grid;
            justify-items: flex-start;
            grid-template-rows: 24rem 3rem auto auto;
            min-height: 43rem;
            align-self: flex-start;
            &__image {
                background-color: $color-alt;
                border-radius: 40px;
                height: 23rem;
                justify-self: stretch;
                & img {
                    height: 23rem;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 40px;
                }
    
            }
            &__category {
                align-self: flex-start;
                display: flex;
                list-style: none;
                column-gap: 1rem;

                &--element {
                    padding: 0.5rem 1rem;
                    border-radius: 7px;
                    text-transform: uppercase;
                    font-weight: 500;

                }
                & a {
                    color: inherit;
                    text-decoration: none;
                }
            }
            &__title {
                color: $color-alt;
                font-size: 1.8rem;
                font-family: inherit;
                font-weight: 600;
                & a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            &__short {
                font-size: 1.2rem;
                font-family: inherit;  
                line-height: 1.25;
                font-weight: 300;
                color: #555555;
                text-shadow: none;
            }
            &__author {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;
                align-self: flex-end;
                &__image {
                    background-color: $color-alt;
                    border-radius: 20px;
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    justify-self: center;
                    height: 40px;
                    width: 40px;
                    & img {
                        height: 40px;
                        width: 40px;
                        border-radius: 20px;
                    }
                }
                &__name {
                    color: $color-alt;
                    font-weight: 500;
                    font-size: 1.2rem;
                    & a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                &__date {
                    color: gray;
                }
            }

        }
    }
    &-search {
        display: none;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 4rem;
        margin-top: 4rem;
        @media (max-width: 730px){ 
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 450px){ 
            grid-template-columns: 1fr;
        }
    }
        

}